/backend/__pycache__/main.cpython-314.pyc
/backend/app/__pycache__/__init__.cpython-314.pyc
/backend/app/__pycache__/config.cpython-314.pyc
/backend/app/__pycache__/db.cpython-314.pyc
/backend/app/__pycache__/movie_db.cpython-314.pyc
